* {
    box-sizing: border-box;
}
  

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 5rem;
    padding: 1 5rem;
    font-size: 2rem;
    margin: 1rem;
}
  

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    height: 200px;
}

.nav li {
    color: blue;
}

.nav li:hover {
    color: yellow;
    background-color: pink;
}

.nav li:visited {
    color: blue;
}